.Bigbox, .Box {
    border-radius: 10px;
    margin: auto;
}

.Bigbox {
    background-color: #E5E5E5;
    /*  */
    max-width: 700px;
    min-height: 450px;
    min-height: 100;
    /*  */
    margin-bottom: 1.5%;
    margin-top: 2%;
    /*  */
}

.Box {
    /*  */
    background-color: #ffffff;
    /*  */
    margin-top: 12%;
    margin-bottom: 8%;
    /*  */
    max-width: 80%;
    /*  */
    /*  */
    padding-bottom: 1rem;
}

.p1 {
    padding-top: 4%;
    font-size: 1.7rem;
    margin-bottom: 0px;
    font-family: "GamestationCondenesd";
}

.p2 {
    font-size: 1.5rem;
    font-family: "GamestationCondenesd";

    padding-left: 18%;
    padding-right: 18%;
    margin-top: 2%;
}

.Botão {
    background-color: #5A8D3B;
    color: #ffffff;
    /*  */
    border-radius: 8%;
    border: #CAC9C9;
    /*  */
    text-decoration: none;
    font-family: "GemunuLibreRegular";
    /*  */
    padding: 1rem 1.1rem;
    /*  */
    margin: auto;
}

.Botão:hover {
    cursor: pointer;
}

@media (max-width:700px) {
.Bigbox{
    margin-top: 15vh;
    min-height: 340px;
}

    .Box {
        padding-bottom: 0.5vh;
        margin-bottom: 10%;
    }
    .p1 {
        font-size: 5.5vw;
    }
    .p2 {
        font-size: 5vw;
    }
}

@media (max-width: 800px) and (orientation:landscape) {
    .Bigbox {
        min-height: 300px;
        margin-top:5vh ;
    }
    .Box {
        padding: 0;
        margin-top: auto;
        margin-bottom: auto;
    }
    .p1 {
        font-size: 4.5vw;
    }
    .p2 {
        font-size: 4vw;
    }
    .Botão {
        padding: 1vw;
        margin: auto;
    }
}