.Btn {
    text-decoration: none;
    /*  */
    color: #ffff;
    font-weight: 600;
    font-size: 12rem;
    /*  */
    padding: 1.5rem;
    /*  */
    margin: auto;
    /*  */
    font-size: 1.2rem;
}

Btn:hover {
    cursor: pointer;
}

@media (max-width: 800px) {
    .Btn {
        padding: 3vw;
    }
}

@media (max-width: 800px) and (orientation:landscape) {
    .Btn{padding: 1.5vw;}
}

@media (max-width: 650px) {
    .Btn {
        font-size: 3vw;
    }
}

/* @media (max-width: 300) {
    .Btn {
        font-size: 0px;
        padding: 2vw;
    }
} */