.ft {
    background-color: #5A8D3B;
    /*  */
    display: flex;
    /*  */
    border-radius: 0px 0px 16px 16px;
    /*  */
    max-width: 1200px;
    /*  */
    margin: 0 auto;
    /*  */
}

.Retorno {
    text-decoration: none;
    /*  */
    margin: auto;
    margin-right: 0;
    margin-left: 2rem;
    font-weight: 600;
    /*  */
    color: #fff;
    /*  */
    padding: 1rem;
}

.Retorno:hover {
    cursor: pointer;
}

@media (max-width: 650px) {
    .ft {
        margin: auto;
    }
    .Retorno {
        font-size: 3vw;
        padding: 2vw;
        margin-left: 1rem;
    }
}

@media (max-width: 800px) and (orientation:landscape) {
    .Retorno{padding: 1.5vw;}

}