.HeaderStart {
    display: flex;
    background-color: #5A8D3B;
    color: #ffffff;
    /*  */
    max-width: 1000px;
    border-radius: 10px 10px 0px 0px;
    /*  */
    margin: auto;
    margin-top: 1.5%;
    margin-bottom: 0;
}

.NomeHeader {
    margin: 1rem;
    /*  */
    font-family: "GemunuLibreRegular";
    font-size: 15px;
    /*  */
    
}