.header {
    /* background-color: #468AB7; */
    /* background-color: #92140c; */
    background-color: #5A8D3B;

    /*  */
    display: flex;
    justify-content: center;
    /*  */
    border-radius: 16px 16px 0px 0px;
    /*  */
    max-width: 1200px;
    margin:0 auto
}