ul {
    list-style-type: circle;
}

.Conteudo {
    text-align: left;
    margin-left: 5rem;
    margin-bottom: 5rem;
}

.Subtitulo {
    font-size: 2.9rem;
    /*  */
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 500;
}

.Item {
    font-size: 2.5rem;
}

.curriculo {
    background-color: #E5E5E5;
    max-width: 1200px;
    /*  */
    margin: 0 auto;
    margin-bottom: 1rem;
    /*  */
    border-radius: 0 0 16px 16px;
}

@media (max-width: 600px) {
    .curriculo {
        max-width: 99%;
        margin: auto;
    }
    .Conteudo {
        margin: auto;
    }
    .Subtitulo {
        font-size: 6vw;
    }
    .Item {
        font-size: 5.5vw;
        margin: auto;
    }
}



@media (max-width:780px) {
    /* .Conteudo {
        margin: auto;
        margin-bottom: 3vh;
        margin-left: 3vw;
    } */
}

@media (orientation:landscape) and (max-height:800px) {
    /* .curriculo {} */
    .Conteudo {
        margin: auto;
        margin-bottom: 8vh;
        margin-left: 3vw;
    }
    .Subtitulo {
        font-size: 3.7vw;
    }
    .Item {
        font-size: 3.3vw;
    }
}