.Bigbox, .Box {
    border-radius: 10px;
    margin: auto;
}

.Bigbox {
    background-color: #CFCFCF;
    /*  */
    max-width: 700px;
    min-height: 450px;
    /*  */
    margin-bottom: 1.5%;
    margin-top: 2%;
    /*  */
    /* border: 30px black; */
    border: 15050px, #000000;
}

.Box {
    /*  */
    background-color: #ffffff;
    /*  */
    /* margin-bottom: 10%; */
    margin-top: 12%;
    /*  */
    /* min-height: 100px; */
    max-width: 80%;
    /*  */
    margin-bottom: 2%;
}

.p1 {
    padding-top: 4%;
    font-size: 1.7rem;
    margin-bottom: 0px;
}

.p2 {
    font-size: 1.5rem;
    padding-left: 18%;
    padding-right: 18%;
    margin-top: 2%;
}

.Botão {
    background-color: #468AB7;
    color: #ffffff;
    /*  */
    border-radius: 8%;
    border: #CAC9C9;
    /*  */
    margin-bottom: 5%;
    /*  */
}

.Botão:hover {
    cursor: pointer;
}